{{#expect showName, seasonsAndEpsiodes }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Streamey - {{showName}}</title>
  <link rel="icon" type="image/svg" href="/favicon.svg">
  <style>
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      flex-direction: column;
      overflow: hidden;
      justify-content: space-evenly;
    }
  </style>
</head>
<script>
  function renderVideoPlayer(video){
    let videoFile = video.getAttribute("data-file");
    let videoPlayer = document.getElementById("video-player");
    videoPlayer.src = videoFile;
    videoPlayer.style = "display: block;";
  }
</script>
<div style="display: flex; flex-direction:column; justify-content:space-evenly;">
  <h2>{{showName}}</h2>
  {{#each seasonsAndEpsiodes as season}}
    <div>
      <button class="accordion">{{season.displayName}}</button>
      <div class="panel">
        {{#each season.episodes as episode}}
          <p data-file="{{episode.file}}" style="cursor: pointer;" onClick="renderVideoPlayer(this)">
            {{ episode.displayName }}
          </p>
        {{/each}}
      </div>
    </div>
  {{/each}}
  <video id="video-player" playsInline autoplay muted loop controls style="display: none;">
  </video>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "flex") {
          panel.style.display = "none";
        } else {
          panel.style.display = "flex";
        }
      });
    }
</script>